#root{
  height:100%;
}

body{
	height: 100%;
	background-color: black;
}
html{
	height: 95%;
}

.App{
  height:100%;
}

.bingo{
  height:100%;
}

table{
	width:100vh;
	height:100%;
	table-layout: fixed;
}

table, td, th{
	font-family: arial;
	font-weight: bold;
	color: white;
	font-size: 25px;
	border: 2px solid white;
	border-collapse: collapse;
	text-align: center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checked{
	background-color: green;
}

.win{
  background-color: blue;
}

td{
	width:20%;
	height:20%;
	padding-left: 10px;
	padding-right: 10px;
}