@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Board{
    display: flex;
    justify-content: center;
}

.controls{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button{
    padding: 15px 20px;
    border-radius: 10%;
    margin: 0 10px;
    color: #ffffff;
    font-weight: 900;
    font-family: Montserrat;
    font-size: 16px;
}

#lock{
    background-color: #FF6E96;
}

#shuffle{
    background-color: #AB9CD1;
}

.title{
    font-family: Caveat;
    font-weight: 900;
    text-align: center;
    font-size: 4rem;
}

.square-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    width: 100%;
  }
  
  .square {
    position: relative;
    border: 1px solid;
    box-sizing: border-box;
  }
  
  .square::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .square .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
      text-align: center;
      padding: 5px;
  }

td{
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;
}
.checked{
    background-color: #D7F9F8;
}

.winning{
    background-color: #E5D4EF;
}

.cell{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

table{
    border-collapse: separate;
}

table, td{
    border: solid 1px black;
    border-collapse: collapse;
}

textarea{
    height: 95%;
    width: 95%;
    resize: none;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 650px){
    p, textarea{
        font-size: 12px;
    }
}

@media (max-width: 490px){
    p, textarea{
        font-size: 8px;
    }
}